@if (currentTrack(); as track) {
  <div class="fixed bottom-0 left-0 right-0 bg-slate-950/80 backdrop-blur-xl z-50 border-t border-slate-800">
    <div class="container mx-auto px-4 py-3">
      <div class="flex items-center gap-4">
        
        <div class="flex items-center gap-2">
            <button (click)="previous()" [disabled]="!canGoPrevious()" class="w-10 h-10 flex-shrink-0 rounded-full bg-slate-800 text-slate-300 hover:bg-slate-700 flex items-center justify-center transition-colors disabled:opacity-50 disabled:cursor-not-allowed active:scale-90">
                <app-backward-icon></app-backward-icon>
            </button>
            <button (click)="togglePlayPause()" class="w-12 h-12 flex-shrink-0 rounded-full bg-teal-500 text-white hover:bg-teal-600 flex items-center justify-center transition-transform duration-200 active:scale-90" [class.playing-pulse]="isPlaying()">
            @if (isPlaying()) {
                <app-pause-icon [size]="6"></app-pause-icon>
            } @else {
                <app-play-icon [size]="6"></app-play-icon>
            }
            </button>
            <button (click)="next()" [disabled]="!canGoNext()" class="w-10 h-10 flex-shrink-0 rounded-full bg-slate-800 text-slate-300 hover:bg-slate-700 flex items-center justify-center transition-colors disabled:opacity-50 disabled:cursor-not-allowed active:scale-90">
                <app-forward-icon></app-forward-icon>
            </button>
        </div>
        
        <div class="flex-grow min-w-0">
          <div class="transition-opacity duration-150" [class.opacity-0]="!trackInfoVisible()">
            <div class="flex items-center justify-between text-sm">
              <p class="font-semibold text-slate-100 truncate">{{ track.title }}</p>
              <p class="text-slate-400 truncate">{{ track.subtitle }}</p>
            </div>

            <div class="flex items-center gap-2 mt-1">
              <span class="text-xs text-slate-400 w-10 text-center select-none font-mono">{{ formatTime(currentTime()) }}</span>
              <div (click)="onScrub($event)" class="w-full h-1.5 bg-slate-700 rounded-full cursor-pointer group">
                <div class="h-1.5 bg-teal-500 rounded-full relative" [style.width.%]="progress()">
                  <div class="absolute right-0 top-1/2 -translate-y-1/2 translate-x-1/2 w-4 h-4 bg-white rounded-full shadow-md ring-2 ring-teal-500 opacity-0 group-hover:opacity-100 transition-opacity duration-200"></div>
                </div>
              </div>
              <span class="text-xs text-slate-400 w-10 text-center select-none font-mono">{{ formatTime(duration()) }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}